{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    <div style="margin-top: 2em;margin-right: 2em; padding: 1em; border-radius: 6px; background-color: #f9f9f9; box-shadow: 0 1px 2px rgba(0,0,0,0.05);">
        <h4 style="font-size: 0.9em; margin: 0 0 10px 0; color: #333; border-bottom: 1px solid #eee; padding-bottom: 6px;"><i class="fas fa-globe-americas" aria-hidden="true"></i> Visitors</h4>
        <div style="display: flex; justify-content: center; align-items: center;">
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=220&t=tt&d=_sMCeOmjqlUrP9Gm5KKmFPaL2Bp3ZIhYDK8rN5Lz7wE&co=a4c2d8&ct=ffffff&cmo=483ce2&cmn=b5ea7d'></script>
<!--             <script type='text/javascript' id='clustrmaps' src='/assets/js/map_v2.js?cl=ffffff&w=200&t=tt&d=_sMCeOmjqlUrP9Gm5KKmFPaL2Bp3ZIhYDK8rN5Lz7wE&co=a4c2d8&ct=ffffff&cmo=483ce2&cmn=b5ea7d'></script> -->
        </div>
    </div>
  </div>
{% endif %}
